body
{
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
}
header
{
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}
#profilepicture
{
    height: 150px;
    width: 150px;
    border: 1px solid grey;
    border-radius: 50%;
    background-image: url('nityapunya.jpeg');
    margin: 10px auto;
    background-size: 100%;
    background-position: 0px;
}
section
{
    max-width: 50%;
    padding: 20px;
    margin: 20px auto;
}
ul
{
    list-style-type: none;
    padding: 0px;
}
.project
{
    margin-bottom: 20px;
}
#academic table
{
    border: 1px solid #f1f1f1;
    width: 100%;
    border-collapse: collapse;
}
#academic table tr:nth-child(even)
{
    background-color: #f0f0f0;
}
#academic table th
{
    background-color: rgb(45, 81, 82);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
#academic table td
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}